<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Minia</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body class="bg-navy-blue">
    <%- include("./partials/header.ejs") -%>

    <section id="">
      <div class="container mx-auto flex flex-col p-5">
        <div class="grid grid-cols-1 xl:grid-cols-2 gap-3 md:p-5 mt-10">
          <% if (posts.length === 0) { %>
          <p class="text-textlightWhite">Not Post Found</p>
          <% } %> <% if (posts) { %> <% posts.forEach((post)=>{ %>
          <div
            class="flex flex-col sm:flex-row sm:space-x-2 md:space-x-4 sm:justify-between rounded-md opacity-90 bg-light-navy mb-[35px] py-[2rem] px-[1.5rem]"
          >
            <div class="md:pt-6 md:max-w-xl cursor-pointer">
              <a href="/post/<%= post._id %>">
                <img
                  src="/<%= post.image %> "
                  alt=""
                  class="rounded-md object-cover md:h-auto md:w-48"
                />
              </a>
            </div>
            <div class="sm:w-2/3">
              <div class="flex justify-start space-x-6 mt-4 items-center">
                <div class="pt-4 cursor-pointer">
                  <a href="/publisheduser/<%= post.userid._id %> ">
                    <img
                      src="<%= post.userid.image %>  "
                      alt=""
                      class="rounded-full object h-8"
                    />
                  </a>
                </div>
                <ul
                  class="flex space-x-3 items-center flex-wrap mt-4 text-textlightWhite"
                >
                  <li class="text-sm font-bold tracking-wide">
                    <%= post.category %>
                  </li>
                </ul>
              </div>
              <div>
                <h4 class="text-textlightWhite text-sm mt-2 font-mono">
                  <a href="/publisheduser/<%= post.userid._id %> ">
                    Published By:-
                    <span class="text-xl px-3"
                      ><%= post.userid.username %></span
                    >
                  </a>
                </h4>
              </div>

              <div
                id=""
                class="flex flex-col justify-between text-left text-textlightWhite mt-3"
              >
                <h4
                  class="flex text-xl font-mono font-extrabold tracking-normal mb-4 cursor-pointer hover:text-textgreen"
                >
                  <a href="/post/<%= post._id %>"><%= post.title %> </a>
                </h4>
                <p class="opacity-90 font-sans">
                  <%= post.description.substring(0,200) +"..." %>
                </p>
                <div class="mt-8 cursor-pointer space-x-6">
                  <a
                    href="/post/<%= post._id %>"
                    class="text-center text-textgreen text-sm sm:text-xl font-bold tracking-wider underline hover:opacity-70 underline-offset-4"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
          </div>
          <% }); %> <% } %>
        </div>
      </div>
    </section>

    <div class="popup-overlay z-40 px-3">
      <div class="popup-container bg-light-navy p-4 mt-10 md:mt-10">
        <div class="popup-close">+</div>
        <h2
          class="popup-title text-textgreen tracking-wide text-xl font-semibold font-mono"
        >
          About BLOG MINIA
        </h2>
        <h3
          class="text-sm md:text-xl font-bold font-mono tracking-widest text-textgreen mt-4"
        >
          What is Blog Minia ?
        </h3>
        <p
          class="text-sm md:text-lg text-textlightWhite mt-5 opacity-70 tracking-wide"
        >
          A Blog Minia is an online journal or informational website displaying
          information with the latest posts appearing first, at the top. It is a
          platform where a User share their views on an individual subject.Here
          User can Create, Edit and Delete the posts.
        </p>
        <p
          class="text-sm md:text-base text-textlightWhite mt-2 font-bold font-mono tracking-wider opacity-80"
        >
          To Write a Blog Signup Your Account share your thoughts !
        </p>
        <p
          class="text-sm md:text-base text-textlightWhite mt-2 font-bold font-mono tracking-wider opacity-80"
        >
          User Can Chosse a following Topics to write a blog
        </p>
        <ul
          class="grid grid-rows-5 grid-flow-col gap-2 text-xs md:grid-rows-3 text-textlightWhite font-mono tracking-widest mt-3"
        >
          <li>
            <span class="text-textgreen font-bold">▹</span>
            <span class="opacity-70">TECH</span>
          </li>
          <li>
            <span class="text-textgreen font-bold">▹</span>
            <span class="opacity-70">SPORTS</span>
          </li>
          <li>
            <span class="text-textgreen font-bold">▹</span>
            <span class="opacity-70">ENTERTAINMENT</span>
          </li>
          <li>
            <span class="text-textgreen font-bold">▹</span>
            <span class="opacity-70">POLITICAL</span>
          </li>
          <li>
            <span class="text-textgreen font-bold">▹</span>
            <span class="opacity-70">EDUCATION</span>
          </li>
        </ul>
        <button
          type="submit"
          class="mt-4 border font-mono border-green hover:bg-green-tint text-white py-2 px-6 rounded-lg text-textgreen"
        >
          Get More Details
        </button>
      </div>
    </div>
    <%- include("./partials/footer.ejs") -%>
    <script src="./js/index.js"></script>
  </body>
</html>
