<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Minia</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="bg-navy-blue">
    <%- include("./partials/header.ejs") -%>

    <div
      class="container mx-auto flex justify-center flex-col p-5 text-textlightWhite"
    >
      <img src="<%= post.image %> " alt="" style="height: 600px; width: auto" />
      <div class="mt-3">
        <h1 class="text-textgreen text-2xl font-sans"><%= post.title %></h1>
      </div>
      <div class="mt-4 w-full">
        <div class="mt-4 flex">
          <a href="/publisheduser/<%= post.userid._id %>">
            <p class="text-textlightWhite text-sm font-sans text-left">
              Published By :- <%= post.userid.username %>
            </p>
          </a>
        </div>
      </div>
      <div class="text-textlightWhite font-sans mt-5" id="body"></div>
    </div>
    <%- include("./partials/footer.ejs") -%>

    <script src="/js/index.js"></script>
    <script>
      let body = document.getElementById("body");
      let fetchdata = async () => {
        try {
          const res = await fetch("/<%- post.id %>", {
            method: "GET",
            headers: { "Content-Type": "application/json" },
          });
          const data = await res.json();

          body.innerHTML = data.post.body;
          console.log(data);
        } catch (err) {
          console.log(err);
        }
      };
      fetchdata();
    </script>
  </body>
</html>
